@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Raleway:wght@100;200;400&display=swap');

:root {
  --white-color: #FFFFFF;
  --black-color: #1E2D3D;
  --black-blue-dark-color: #192531;
  --black-blue-darker-color: #192633;
  --green-color: #0BD89F;
  --red-color: #D94741;
  --pink-color: #E65E77;
  --yellowwhite-color: #ECEAD7;
  --grey-color: #D9D9D9;
  --grey-darker-color: #E2E2E2;
  --font-raleway: 'Raleway', sans-serif;

}

body {
  @apply w-screen h-screen overflow-x-hidden bg-[var(--black-blue-darker-color)]
}

.container {
  @apply w-full px-7 py-4 mx-auto flex flex-col items-center
}

/** THIN TEXT */
.textThin {
  @apply text-sm text-center font-thin text-[var(--white-color)]
}

.textThinBlack {
  @apply text-sm text-center font-normal text-[var(--black-color)]
}

/** HEADING */
.textHeading {
  font-family: 'Playfair Display', serif;
  @apply text-2xl font-normal text-center relative z-20 text-[var(--white-color)]
}

.textHeadingBlack {
  font-family: 'Playfair Display', serif;
  @apply text-2xl text-center font-normal text-[var(--black-color)]
}

.button {
  @apply bg-pink w-full px-7 py-4 my-8 text-white
}

.founderImage {
  box-shadow: 7px 6px 15px 1px rgb(255 255 255 / 39%);
}

.buttonVisible {
  animation: popUp 2s;
}

@keyframes popUp {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
    transform: scale(1, 1);
  }

  85% {
    opacity: .5;
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.none {
  display: none;
}

.pinkTextDecoration::after {
  content: " ";
  @apply w-11/12 h-1 bg-[var(--pink-color)] absolute left-1/2 top-5 rounded-3xl opacity-80 -translate-x-1/2 -z-10
}

.visibleLeft {
  animation: slideInFromLeft 1s;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.visibleLeft.visibleDelay {
  animation: slideInFromLeft 2s;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
  }

  50% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.visibleRight {
  animation: slideInFromLeft 1s;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.visibleRight.visibleDelay {
  animation: slideInFromLeft 2s;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
  }

  50% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}