.burgerNavigation {
  display: block;
  height: 26px;
  width: 32px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burgerNavigation .line,
.burgerNavigation .lineActive {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
}

.burgerNavigation .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.burgerNavigation .line2 {
  transition: transform 0.2s ease-in-out;
}

.burgerNavigation .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.menuItems,
.menuItemsNoactive {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--black-blue-darker-color);
  z-index: 9;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform-origin: 0% 0%;
  transition: transform .5s ease-in-out;
}

.menuItems {
  transform: translateX(0%);
}

.menuItemsNoactive {
  transform: translateX(-100%);
}

.link {
  font-family: 'Playfair Display', serif;
  @apply text-2xl font-normal text-left text-[var(--white-color)] ml-7 mb-4
}

.lineActive.line1 {
  transform: rotate(45deg);
}

.lineActive.line2 {
  transform: scaleY(0);
}

.lineActive.line3 {
  transform: rotate(-45deg);
}

.none {
  display: none;
}

.divider {
  width: 90%;
  height: fit-content;
  margin: 15px 0;
  text-align: center;
  font-size: 28px;
  position: relative;
  height: 2px;
  background: repeating-linear-gradient(to right,
      transparent 10px,
      transparent 18px,
      white 0px,
      white 28px);
}